* {
    font-family: poppins, Arial, Helvetica, sans-serif, monospace;
    scroll-behavior: smooth;
    --afp: #e17f37;
    --afp-blue: #005c85;
    --afp-light-blue: #e7e7e7;
    --afp-cyan: #379aa7;
}

html {
    background-color: #e17e371b;
}

header {
    z-index: 1;
    background: var(--afp, orange);
    opacity: 0.99;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: var(--afp, orange) 0 0.1em 2em;
}

.img-small {
    width: 4em;
    height: auto;
    transition-duration: 0.5s;
    margin: 0.5em;
    filter: drop-shadow(0 0 2em white);
}

.img-small:hover {
    filter: grayscale(0.6) drop-shadow(0 0 3em rgb(255, 255, 255));
    width: 5em;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transform: rotate(-5deg);
}

.nav-links {
    color: white;
    text-decoration: none;
    display: flex;
    text-overflow: ellipsis;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    transition-duration: 0.5s;
    text-shadow: 0 0 1.5em white;
}

[alt] {
    color: rgb(255, 0, 0);
}

.nav-links:hover {
    background-color: white;
    color: var(--afp, orange);
    text-transform: uppercase;
    transition-duration: 0.2s;
    box-shadow: 0 0 1em white;
}

.grid-navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto 1fr 1fr 1fr;
}

#first-image-large {
    position: relative;
    width: 100%;
    height: auto;
    top: 94px;
    box-shadow: 0 0 2em white;
    border-radius: 1em;
    transition-duration: 1s;
    max-height: 95vh;
}

#first-image-large:hover {
    transform: translatey(-1em);
    transition-duration: 0.5s;
}

.menu-div {
    display: none;
}

#checkbox-menu {
    position: absolute;
}

#checkbox-menu {
    display: none;
}

#storia {
    margin-top: 10vh;
}

#paragrafo-storia {
    font-weight: 300;
    opacity: 0.6;
    font-size: 1.3em;
    transition-duration: 0.2s;
}

#paragrafo-storia:hover {
    opacity: 1;
    transition-duration: 0.5s;
}

#storia-image {
    height: 15em;
    animation: img-move 1s ease-out;
    transition-duration: 0.2s;
}

@keyframes img-move {
    from {
        transform: translatey(-15em);
    }
    to {
        transform: translateY(0em);
    }
}

#storia-image:hover {
    animation: img-loop 1s ease-out infinite alternate;
    transition-duration: 0.2s;
}

@keyframes img-loop {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#div-storia {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 2em 0 2em 2em;
}

#storia-header {
    color: var(--afp);
    font-size: 2em;
    text-shadow: 0 0 2em var(--afp);
}

#corsi {
    background-color: var(--afp-light-blue);
}

#corsi-header {
    color: var(--afp-blue);
    font-size: 2rem;
}

.center-vertical {
    display: flex;
    justify-content: center;
}

#seleziona-sede {
    color: var(--afp-blue);
}

.div-sedi {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--afp-blue);
    font-size: 1.1em;
}

.nome-sede-afp:hover {
    cursor: pointer;
}

span {
    transition-duration: 0.3s;
}

input[name="radio-sedi-afp"] {
    display: none;
}

input[name="radio-sedi-afp"]:checked~span {
    font-weight: bold;
    color: var(--afp-cyan);
    font-size: 1.2em;
    transition-duration: 0.3s;
}

.on {
    display: grid !important;
    animation: on 0.5s ease-out;
}

svg {
    height: 3em;
    aspect-ratio: auto;
}

#corsi-container {
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corsi-div {
    margin-top: 2em;
    margin-bottom: 2em;
}

.corsi-div>div {
    display: flex;
    margin: 0.5em;
    align-items: center;
    flex-direction: column;
    padding: 0.5em;
    border-radius: 0em;
    transition-duration: 0.2s;
}

.corsi-div>div:hover {
    background-color: white;
    border-radius: 0.7em;
    transform: scale(1.2) translateY(-1em);
    z-index: 1;
    box-shadow: 0 0 2em white;
    transition-duration: 0.3s;
}

.corsi-div>div>div>svg {
    color: var(--afp-blue);
}

.corsi-div>div>span {
    color: var(--afp-cyan);
    font-weight: bold;
}

#uno-corsi-div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#due-corsi-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#tre-corsi-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@keyframes on {
    from {
        opacity: 0;
        transform: translateX(-50vh);
    }
    to {
        opacity: 1;
        transform: translateX(0vh);
    }
}

.off {
    display: none !important;
}

@media (max-width: 900px) {
    .nav-links {
        font-size: 0.8em;
    }
}

@media (max-width:860px) {
    #div-storia {
        padding-top: 1vh;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .img-small {
        margin: 0.5em 0;
    }
}

@media (max-width: 650px) {
    header {
        opacity: 0.99;
    }
    .nav-links {
        padding: 0 0.6em;
        transition-duration: 0.1s;
    }
    .nav-links:hover {
        padding: 0 1.5em;
        transition-duration: 0.2s;
    }
    .grid-navbar {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-direction: row;
        height: 100%;
    }
    .img-small {
        width: 3em;
        filter: drop-shadow(0 0 1em white);
        margin: 0.3em 1em 0 1em;
    }
    .img-small:hover {
        filter: grayscale(0.6) drop-shadow(0 0 3em rgb(255, 255, 255));
        width: 3.2em;
        transform: rotate(-360deg);
    }
    #first-image-large {
        top: 75px;
    }
    #first-image-large:hover {
        transform: translatey(-1.5em);
        transition-duration: 0.5s;
    }
    #div-storia {
        margin: 1em;
    }
}

@media (max-width: 550px) {
    .nav-links {
        display: none;
    }
    .menu-div {
        display: inline-flex;
        position: absolute;
        width: 1.7em;
        height: auto;
        color: white;
        right: 0;
        transform: translateX(-1.2em) translateY(0.9em);
        transition-duration: 0.3s;
    }
    input[id="checkbox-menu"]:checked~nav a {
        display: flex;
        font-size: 1em;
        padding: 1em;
    }
    input[id="checkbox-menu"]:checked~nav {
        flex-direction: column;
        animation: enter-active 1s ease-in-out;
    }
    input[id="checkbox-menu"]:checked~nav a img {
        display: none;
    }
    input[id="checkbox-menu"]:checked~nav a#afp-link {
        display: none;
    }
    input[id="checkbox-menu"]:checked~header {
        animation: enter-active 0.5s ease-in-out;
    }
    input[id="checkbox-menu"]:checked~label div.menu-div {
        opacity: 0.7;
        color: rgb(169, 59, 0);
        transition-duration: 0.3s;
    }
}

@keyframes enter-active {
    from {
        transform: translatey(-50vh);
    }
    to {
        transform: translatey(0);
    }
}

@media(max-width: 500px) {
    #div-storia {
        margin: 0.5em;
    }
}
